# Node (web & mobile)
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Expo / React Native
MOBILE/ProudactiveMobile/.expo/
MOBILE/ProudactiveMobile/node_modules/
MOBILE/ProudactiveMobile/ios/
MOBILE/ProudactiveMobile/.vscode/

# Android: Permitir código fuente pero ignorar archivos generados
MOBILE/ProudactiveMobile/android/app/build/
MOBILE/ProudactiveMobile/android/.gradle/
MOBILE/ProudactiveMobile/android/build/
MOBILE/ProudactiveMobile/android/app/*.keystore
MOBILE/ProudactiveMobile/android/local.properties
MOBILE/ProudactiveMobile/android/.idea/

# Web (Vite)
WEB/node_modules/
WEB/dist/

# Laravel / PHP
APILaravel/vendor/
APILaravel/node_modules/
APILaravel/.env
APILaravel/storage/
APILaravel/bootstrap/cache/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
